body {
    background: rgb(255, 253, 208);
    background: linear-gradient(180deg, rgba(255, 253, 208, 0.8939950980392157) 28%, rgba(0, 0, 0, 0.39539565826330536) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form {
    font-size: 3vw;
    margin: auto;
    width: 50%;
    border: 3px solid rgba(167, 167, 167, 0.395);
    height: 100vh;
    padding: 10px;

}

form {
    margin: auto;
    width: 61.59%;
}

.titel {
    font-size: 7vw;
}

input {
    height: 3vw;
    font-size: 1.5vw;
    background-color: rgb(255, 249, 239);
}

.nae input {
    border: none;
    border-bottom: 2px solid;
    background-color: transparent;
}

input[type=submit] {
    width: 50%;
    border-radius: 20px;
    cursor: pointer;
}

input[type=reset] {
    width: 81%;
    border-radius: 20px;
    cursor: pointer;
}

input[type=reset]:hover{
    background-color: rgb(206, 206, 206);
    border-radius: 0px;
    transition: .3s;
    width: 100%;
}
input[type=submit]:hover{
    background-color: rgb(206, 206, 206);
    border-radius: 0px;
    transition: .3s;
    width: 61.5%;
}


